body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .box1 {
    flex: 1;
    height: 100vh;
    background-color: #ffffff;
  }
  .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box1 img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .box2 {
    flex: 1;
    height: 100vh;
    background-color: #006699;
  }
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box2 img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  .login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 50%;
  }
  
  .login-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .login-title h1 {
    margin-left: -28px;
    margin-right:14px;
    color: #333;
    font-size: 32px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #555;
  }
  
  button[type="submit"] {
    background-color: #006699;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005580;
  }
  
  .links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .links a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
  }
  
  .links a:hover {
    color: #006699;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .box1 {
      height: 50vh;
    }
    
    .box2 {
      height: 50vh;
    }
    
    .login-box {
      width: 80%;
      padding: 20px;
    }
    
    .login-title h1 {
      font-size: 24px;
    }
    
    button[type="submit"] {
      font-size: 16px;
    }
  }


  
  

  
  