//-------------BluePrint of all the Pages--------------
doctype html
html
  head
    title= title
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    link(rel="shortcut icon", type="image/x-icon", href="logo.ico")
  body
    navbar
      block navbar
    block content
    footer &copy; Rate Predictor @Group-35. All rights Reserved.
